<!doctype html>
<html lang="en">
<head>
  <title>Insta Searching</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>
<body>
    <p> </p>
    <p align="center" style="font-size:40px;"> Crawling Start</p>
    <p align="center" style="font-size:20px;">If you press the Next button, Crawling starts.</p>
    <p align="center" style="font-size:20px;">Loading may occur.   <button type="button" onclick="location.href='/insta'">Next</button></p>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <p>　</p>
</body>
</html>

