<!doctype html>
<html lang="en">
<head>
  <title>Insta Searching</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>
<body>
    <p> </p>
    <p align="center" style="font-size:40px;"> What are you curious about?</p>
    <div style="text-align: center;">
      <form action= "/fileUpload" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file" style="padding-left:5.0em;" />
        <p> </p>
        <input type="submit" value="Submit">
      </form>
   </div>
    <p>　</p><p>　</p><p>　</p><p>　</p><p>　</p><p>　</p><p>　</p><p>　</p><p>　</p><p>　</p><p>　</p>
</body>
</html>

